@charset "utf-8";

select {
    display: block;
    border-radius: 7%;
    letter-spacing: 1px;
    position: absolute;
    left: 70%;
    top: 4%;
}
a {
    left: 50%;
    top: 100px;
    display: block;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin:0 auto;
}

footer {
    position: absolute;
    left: 45%;
    bottom: 5%;
    display: block;
   
    justify-content: center;
    align-items: center;
    margin:0 auto;
}

#sb1 {
    display: inline;
    position: absolute;
    left: 10%;
    top: 30%;
    border: 1px solid rgba(0, 0, 0, 0.564);
    border-radius: 10%;
    justify-content: center;
    align-items: center;
}
#sb2 {
    display: inline;
    position: absolute;
    left: 15%;
    top: 30%;
    border: 1px solid rgba(0, 0, 0, 0.564);
    border-radius: 10%;
    justify-content: center;
    align-items: center;
}
#sb3 {
    display: inline;
    position: absolute;
    left: 21%;
    top: 30%;
    border: 1px solid rgba(0, 0, 0, 0.564);
    border-radius: 10%;
    justify-content: center;
    align-items: center;
}